body {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/031/928/994/large/melvin-limoge-dlm-0279-bg.jpg?1605006425");
  background-size: cover;
  background-repeat: no-repeat;
}
